spring:
  datasource:
    url: jdbc:mysql://112.222.157.157:5064/Youbank
    username: odd_adv_4
    password: row502

  jpa:
    database: mysql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        order_inserts: true
        order_updates: true
        generate_statistics: false
      format_sql: true
      show_sql: false